@page "/Article"
@using BrokenGrenade.Common.Models
@using BrokenGrenade.Web.App.Resources
@using BrokenGrenade.Web.App.Resources.Areas.Public.Pages.Article
@using BrokenGrenade.Web.BL.Facades
@using Microsoft.Extensions.Localization
@inject ArticleFacade ArticleFacade
@inject UserFacade UserFacade
@inject IToastService ToastService
@inject IStringLocalizer<ArticleListResources> Localizer
@inject IStringLocalizer<SharedResources> SharedLocalizer
@attribute [Authorize]

<PageTitle>@Localizer[nameof(ArticleListResources.Articles)] — @SharedLocalizer[nameof(SharedResources.AppShortName)]</PageTitle>

<div class="pt-3 pb-2 mb-3">
    @if (_creatorName is not null)
    {
        <h1 class="h2">@Localizer[nameof(ArticleListResources.ArticlesFrom)] @_creatorName</h1>
    }
    else
    {
        <h1 class="h2">@Localizer[nameof(ArticleListResources.Articles)]</h1>
    }
</div>

<div class="row row-cols-1 row-cols-md-3">
    @if (_articles is null)
    {
        @for (var i = 0; i < 6; i++)
        {
            <div class="col mb-4">
                <div class="card h-100 bg-dark-subtle">
                    <div class="card-body">
                        <h6 class="card-title placeholder-glow">
                            <span class="placeholder col-8"></span>
                        </h6>
                        <p class="placeholder-glow">
                            <span class="placeholder col-12"></span>
                            <span class="placeholder col-10"></span>
                            <span class="placeholder col-8"></span>
                        </p>
                    </div>
                    <div class="card-footer">
                        <small class="text-body-secondary placeholder-glow">
                            <span class="placeholder col-6"></span>
                        </small>
                    </div>
                </div>
            </div>
        }
    }
    else
    {
        @if (_articles.Count == 0)
        {
            <div class="col">
                <p class="h4 text-center">@Localizer[nameof(ArticleListResources.NoArticlesFound)]</p>
            </div>
        }
        @foreach (var article in _articles)
        {
            <div class="col mb-4">
                <div class="card h-100 bg-dark-subtle">
                    @if (article.ImageUrl is not null)
                    {
                        <img class="card-img-top object-fit-cover" style="max-height: 200px" src="@(article.ImageUrl)" alt="@Localizer[nameof(ArticleListResources.Preview)]"/>
                    }
                    <div class="card-body">
                        <a href="/Article/@article.Id" class="text-decoration-none stretched-link">
                            <h6 class="card-title">@article.Name</h6>
                        </a>
                        <p>@article.Excerpt</p>
                    </div>
                    <div class="card-footer">
                        <small class="text-body-secondary">@Localizer[nameof(ArticleListResources.CreatedBy)] <b>@(article.Creator?.Nickname ?? SharedLocalizer[nameof(SharedResources.DeletedUser)])</b></small>
                    </div>
                </div>
            </div>
        }
    }
</div>

@code {
    [Parameter]
    [SupplyParameterFromQuery(Name = "creator_id")]
    public Guid? CreatorId { get; set; }
    private string? _creatorName;
    
    private List<ArticleModel>? _articles;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            _articles = await ArticleFacade.GetAsync();
            if (_articles is null)
                throw new Exception(Localizer[nameof(ArticleListResources.FailedToLoadArticles)]);

            if (CreatorId.HasValue)
            {
                _articles = _articles.Where(x => x.CreatorId == CreatorId).ToList();
                _creatorName = await UserFacade.GetNicknameAsync(CreatorId.Value);
            }
        }
        catch (Exception e)
        {
            ToastService.ShowError(e.Message);
        }
    }
}