@using Microsoft.Extensions.Localization
@using BrokenGrenade.Web.App.Resources.Areas.Identity.Pages.Account
@inject IStringLocalizer<LayoutResource> Localizer

<ul class="nav nav-pills flex-column ps-2">
    <li class="nav-item">
        <a class="nav-link btn-sharp @ManageNavPages.IndexNavClass(ViewContext)" id="profile" asp-page="./Index">
            <i class="fa-solid fa-user fa-fw"></i> @Localizer[nameof(LayoutResource.NavProfile)]
        </a>
    </li> 
    <li class="nav-item">
        <a class="nav-link btn-sharp @ManageNavPages.EmailNavClass(ViewContext)" id="email" asp-page="./Email">
            <i class="fa-solid fa-envelope fa-fw"></i> @Localizer[nameof(LayoutResource.NavEmail)]
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link btn-sharp @ManageNavPages.ChangePasswordNavClass(ViewContext)" id="change-password" asp-page="./ChangePassword">
            <i class="fa-solid fa-unlock fa-fw"></i> @Localizer[nameof(LayoutResource.NavPassword)]
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link btn-sharp @ManageNavPages.TwoFactorAuthenticationNavClass(ViewContext)" id="two-factor" asp-page="./TwoFactorAuthentication">
            <i class="fa-solid fa-shield-halved fa-fw"></i> @Localizer[nameof(LayoutResource.Nav2fa)]
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link btn-sharp @ManageNavPages.PersonalDataNavClass(ViewContext)" id="personal-data" asp-page="./PersonalData">
            <i class="fa-solid fa-database fa-fw"></i> @Localizer[nameof(LayoutResource.NavPersonalData)]
        </a>
    </li>
</ul>