@page
@using Microsoft.Extensions.Localization
@using BrokenGrenade.Web.App.Resources.Areas.Identity.Pages.Account.Manage
@model DeletePersonalDataModel
@inject IStringLocalizer<DeletePersonalDataResource> Localizer
@{
    ViewData["Title"] = Localizer[nameof(DeletePersonalDataResource.DeleteDataTitle)];
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
    Layout = "_Layout";
}

<h3>@ViewData["Title"]</h3>

<div class="alert alert-warning" role="alert">
    <p>
        <strong>@Localizer[nameof(DeletePersonalDataResource.DeleteDataMessage)]</strong>
    </p>
</div>

<div>
    <form id="delete-user" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
        @if (Model.RequirePassword)
        {
            <div class="mb-3">
                <label asp-for="Input.Password" class="form-label">@Html.DisplayNameFor(m => m.Input.Password)</label>
                <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true"/>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Input.Password" class="form-label">@Html.DisplayNameFor(m => m.Input.Reason)</label>
                <textarea asp-for="Input.Reason" class="form-control" autocomplete="none" aria-required="false"></textarea>
                <span asp-validation-for="Input.Reason" class="text-danger"></span>
                
            </div>
        }
        <button class="btn btn-danger" type="submit">@Localizer[nameof(DeletePersonalDataResource.DeleteDataButton)]</button>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
