@page
@using BrokenGrenade.Web.App.Resources.Areas.Identity.Pages.Account.Manage
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using Microsoft.Extensions.Localization
@model EmailModel
@inject IStringLocalizer<EmailResource> Localizer
@{
    ViewData["Title"] = Localizer[nameof(EmailResource.ChangeEmailTitle)];
    ViewData["ActivePage"] = ManageNavPages.Email;
    Layout = "_Layout";
}

<h3>@ViewData["Title"]</h3>
<partial name="_StatusMessage" for="StatusMessage" />
<form id="email-form" method="post">
    <div asp-validation-summary="All" class="text-danger" role="alert"></div>
    @if (Model.IsEmailConfirmed)
    {
        <div class="mb-3">
            <label asp-for="Email" class="form-label">@Html.DisplayNameFor(m => m.Email)</label>
            <input asp-for="Email" class="form-control" disabled/>
        </div>
    }
    else
    {
        <div class="mb-3">
            <label asp-for="Email" class="form-label">@Html.DisplayNameFor(m => m.Email)</label>
            <input asp-for="Email" class="form-control" disabled/>
            <button id="email-verification" type="submit" asp-page-handler="SendVerificationEmail" class="btn btn-link">@Localizer[nameof(EmailResource.SendVerificationEmail)]</button>
        </div>
    }
    <div class="mb-3">
        <label asp-for="Input.NewEmail" class="form-label">@Html.DisplayNameFor(m => m.Input.NewEmail)</label>
        <input asp-for="Input.NewEmail" class="form-control" autocomplete="email" aria-required="true"/>
        <span asp-validation-for="Input.NewEmail" class="text-danger"></span>
    </div>
    <button id="change-email-button" type="submit" asp-page-handler="ChangeEmail" class="btn btn-primary">@Localizer[nameof(EmailResource.ChangeEmailButton)]</button>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
