@page
@using BrokenGrenade.Web.App.Resources.Areas.Identity.Pages.Account.Manage
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using Microsoft.Extensions.Localization
@model GenerateRecoveryCodesModel
@inject IStringLocalizer<GenerateRecoveryCodesResource> Localizer
@{
    ViewData["Title"] = Localizer[nameof(GenerateRecoveryCodesResource.GenerateRecoveryCodesTitle)];
    ViewData["ActivePage"] = ManageNavPages.TwoFactorAuthentication;
    Layout = "_Layout";
}

<partial name="_StatusMessage" for="StatusMessage" />
<h3>@ViewData["Title"]</h3>
<div class="alert alert-warning" role="alert">
    <p>
        <i class="fa-solid fa-triangle-exclamation"></i>
        <strong>@Localizer[nameof(GenerateRecoveryCodesResource.SaveCodesInSafePlace)]</strong>
    </p>
    <p>@Localizer[nameof(GenerateRecoveryCodesResource.NoCodesNoAccount)]</p>
    <p>@Localizer[nameof(GenerateRecoveryCodesResource.GeneratingNewCodes), "./ResetAuthenticator"]</p>
</div>
<div>
    <form method="post">
        <button class="btn btn-danger" type="submit">@Localizer[nameof(GenerateRecoveryCodesResource.GenerateRecoveryKeysButton)]</button>
    </form>
</div>
