@page
@using Microsoft.Extensions.Localization
@using BrokenGrenade.Web.App.Resources.Areas.Identity.Pages.Account.Manage
@model PersonalDataModel
@inject IStringLocalizer<PersonalDataResource> Localizer
@{
    ViewData["Title"] = Localizer[nameof(PersonalDataResource.PersonalDataTitle)];
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
    Layout = "_Layout";
}

<h3>@ViewData["Title"]</h3>


<p>@Localizer[nameof(PersonalDataResource.PersonalDataMessage)]</p>
<p>
    <strong>@Localizer[nameof(PersonalDataResource.PersonalDataDeletionWarning)]</strong>
</p>

<form id="download-data" asp-page="DownloadPersonalData" method="post">
    <div class="d-flex flex-row gap-2">
        <button class="btn btn-primary" type="submit">@Localizer[nameof(PersonalDataResource.PersonalDataDownloadButton)]</button>
        <a id="delete" asp-page="DeletePersonalData" class="btn btn-danger">@Localizer[nameof(PersonalDataResource.PersonalDataDeleteButton)]</a>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
