@page
@using Microsoft.Extensions.Localization
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using BrokenGrenade.Web.App.Resources.Areas.Identity.Pages.Account.Manage
@model ShowRecoveryCodesModel
@inject IStringLocalizer<ShowRecoveryCodesResource> Localizer
@{
    ViewData["Title"] = Localizer[nameof(ShowRecoveryCodesResource.ShowRecoveryCodesTitle)];
    ViewData["ActivePage"] = "TwoFactorAuthentication";
    Layout = "_Layout";
}

<partial name="_StatusMessage" for="StatusMessage" />
<h3>@ViewData["Title"]</h3>
<div class="alert alert-warning" role="alert">
    <p><strong>@Localizer[nameof(ShowRecoveryCodesResource.ShowRecoveryCodesAlertTitle)]</strong></p>
    <p>@Localizer[nameof(ShowRecoveryCodesResource.ShowRecoveryCodesAlertMessage)]</p>
</div>
<div class="row">
    <div class="col-md-12">
        @for (var row = 0; row < Model.RecoveryCodes.Length; row += 2)
        {
            <code class="recovery-code">@Model.RecoveryCodes[row]</code><text>&nbsp;</text><code class="recovery-code">@Model.RecoveryCodes[row + 1]</code><br />
        }
    </div>
</div>
