@page
@using Microsoft.AspNetCore.Http.Features
@using Microsoft.Extensions.Localization
@using BrokenGrenade.Web.App.Resources.Areas.Identity.Pages.Account.Manage
@model TwoFactorAuthenticationModel
@inject IStringLocalizer<TwoFactorAuthenticationResource> Localizer
@{
    ViewData["Title"] = Localizer[nameof(TwoFactorAuthenticationResource.TwoFactorAuthenticationTitle)];
    ViewData["ActivePage"] = ManageNavPages.TwoFactorAuthentication;
    Layout = "_Layout";
}

<partial name="_StatusMessage" for="StatusMessage" />
<h3>@ViewData["Title"]</h3>

@if (Model.Is2faEnabled)
{
    @switch (Model.RecoveryCodesLeft)
    {
        case 0:
            <div class="alert alert-danger">
                <strong>@Localizer[nameof(TwoFactorAuthenticationResource.NoRecoveryCodesLeftAlertTitle)]</strong>
                <p>@Localizer[nameof(TwoFactorAuthenticationResource.NoRecoveryCodesLeftAlertMessage1)] <a asp-page="./GenerateRecoveryCodes">@Localizer[nameof(TwoFactorAuthenticationResource.NoRecoveryCodesLeftAlertMessage2)]</a> @Localizer[nameof(TwoFactorAuthenticationResource.NoRecoveryCodesLeftAlertMessage3)]</p>
            </div>
            break;
        case 1:
            <div class="alert alert-danger">
                <strong>@Localizer[nameof(TwoFactorAuthenticationResource.OneRecoveryCodeLeftAlertTitle)]</strong>
                <p>@Localizer[nameof(TwoFactorAuthenticationResource.OneRecoveryCodeLeftAlertMessage1)] <a asp-page="./GenerateRecoveryCodes">@Localizer[nameof(TwoFactorAuthenticationResource.OneRecoveryCodeLeftAlertMessage2)]</a>.</p>
            </div>
            break;
        case <= 3:
            <div class="alert alert-warning">
                <strong>@Localizer[nameof(TwoFactorAuthenticationResource.FewRecoveryCodesLeftAlertTitle), Model.RecoveryCodesLeft]</strong>
                <p>@Localizer[nameof(TwoFactorAuthenticationResource.OneRecoveryCodeLeftAlertMessage1)]<a asp-page="./GenerateRecoveryCodes">@Localizer[nameof(TwoFactorAuthenticationResource.OneRecoveryCodeLeftAlertMessage2)]</a>.</p>
            </div>
            break;
    }

    <div class="d-flex flex-row gap-2 flex-wrap mb-3">
    
        @if (Model.IsMachineRemembered)
        {
            <form method="post" style="display: inline-block">
                <button type="submit" class="btn btn-primary">@Localizer[nameof(TwoFactorAuthenticationResource.ForgetBrowserButton)]</button>
            </form>
        }
        <a asp-page="./Disable2fa" class="btn btn-primary">@Localizer[nameof(TwoFactorAuthenticationResource.Disable2fa)]</a>
        <a asp-page="./GenerateRecoveryCodes" class="btn btn-primary">@Localizer[nameof(TwoFactorAuthenticationResource.ResetRecoveryCodes)]</a>
    </div>
}

<h5>@Localizer[nameof(TwoFactorAuthenticationResource.AuthenticatorApp)]</h5>
<div class="d-flex flex-row gap-2 flex-wrap mb-3">
    @if (!Model.HasAuthenticator)
    {
        <a id="enable-authenticator" asp-page="./EnableAuthenticator" class="btn btn-primary">@Localizer[nameof(TwoFactorAuthenticationResource.AddAuthenticatorApp)]</a>
    }
    else
    {
        <a id="enable-authenticator" asp-page="./EnableAuthenticator" class="btn btn-primary">@Localizer[nameof(TwoFactorAuthenticationResource.SetupAuthenticatorApp)]</a>
        <a id="reset-authenticator" asp-page="./ResetAuthenticator" class="btn btn-primary">@Localizer[nameof(TwoFactorAuthenticationResource.ResetAuthenticatorApp)]</a>
    }
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
