@page "/Calendar/Mission"
@using BrokenGrenade.Common.Models
@using BrokenGrenade.Web.App.Resources
@using BrokenGrenade.Web.App.Resources.Areas.Public.Pages.Mission
@using BrokenGrenade.Web.BL.Facades
@using Microsoft.Extensions.Localization
@inject MissionFacade MissionFacade
@inject NavigationManager NavigationManager
@inject IStringLocalizer<MissionCalendarResources> Localizer
@inject IStringLocalizer<SharedResources> SharedLocalizer

<PageTitle>@Localizer[nameof(MissionCalendarResources.HubPageTitle)] — BG Hub</PageTitle>

<div class="pt-3 pb-2 mb-3">
    <h1 class="h2">@Localizer[nameof(MissionCalendarResources.HubPageTitle)]</h1>
</div>
<div class="row">
    <div class="col">
        @if (_missions is null)
        {
            <div class="d-flex justify-content-center">
                <div class="spinner-border m-5" role="status">
                    <span class="visually-hidden">Načítání...</span>
                </div>
            </div>
        }
        else
        {
            <SfSchedule TValue="MissionModel" EnableAutoRowHeight="true">
                <ScheduleViews>
                    <ScheduleView Option="View.Month" FirstDayOfWeek="1" Readonly="true" />
                </ScheduleViews>
                <ScheduleEventSettings DataSource="_missions" EnableTooltip="true">
                        <TooltipTemplate>
                            <div>
                                <p class="mb-0">@SharedLocalizer[nameof(SharedResources.MissionCreator)]: <b>@((context as MissionModel)?.Creator?.Nickname ?? @SharedLocalizer[nameof(SharedResources.DeletedUser)])</b></p>
                                <p class="mb-0">@SharedLocalizer[nameof(SharedResources.MissionType)]: <b>@((context as MissionModel)?.MissionType?.Name ?? @SharedLocalizer[nameof(SharedResources.DeletedMissionCategory)])</b></p>
                                <p class="mb-0">@SharedLocalizer[nameof(SharedResources.ModpackType)]: <b>@((context as MissionModel)?.ModpackType?.Name ?? @SharedLocalizer[nameof(SharedResources.DeletedModpackType)])</b></p>
                            </div>
                        </TooltipTemplate>
                        <ChildContent>
                            <ScheduleField Id="@nameof(MissionModel.Id)">
                                <FieldSubject Name="@nameof(MissionModel.Name)"/>
                                <FieldStartTime Name="@nameof(MissionModel.MissionStartDate)"/>
                                <FieldEndTime Name="@nameof(MissionModel.MissionStartDate)"/>
                            </ScheduleField>
                        </ChildContent>
                    </ScheduleEventSettings>
                    <ScheduleEvents TValue="MissionModel" OnEventClick="HandleEventClick"/>
            </SfSchedule>
        }
    </div>
</div>

@code {
    
    private List<MissionModel>? _missions;

    protected override async Task OnInitializedAsync()
    {
        _missions = await MissionFacade.GetAsync();
    }

    private void HandleEventClick(EventClickArgs<MissionModel> obj)
    {
        if (obj.Event is null)
            return;
        
        NavigationManager.NavigateTo($"/Mission/{obj.Event.Id}");
    }
}