@page "/Mission/Detail/{Id:guid}"
@using BrokenGrenade.Common.Models
@using BrokenGrenade.Web.App.Extensions
@using BrokenGrenade.Web.BL.Facades
@inject MissionFacade MissionFacade
@inject UserFacade UserFacade
@inject IJSRuntime JSRuntime
@inject AuthenticationStateProvider AuthenticationStateProvider

<PageTitle>Všechny mise</PageTitle>

@if (_mission is null)
{
    <p class="text-center fw-bold">Načítání...</p>
}
else
{
    <div class="pt-3 pb-2 mb-3">
        <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group me-2">
                <a class="btn btn-sm btn-link text-decoration-none" href="/Mission">
                    <i class="fa-solid fa-angles-left"></i> Všechny mise
                </a>
                @if (_mission.CreatorId == _currentUser?.Id)
                {
                    @if (_mission.MissionStartDate > DateTime.Now.AddMinutes(30))
                    {
                        <a class="btn btn-sm btn-link text-decoration-none" href="/Staff/Mission/Edit/@_mission.Id">
                            <i class="fa-solid fa-edit"></i> Upravit misi
                        </a>
                    }
                    else
                    {
                        <span tabindex="0" data-bs-toggle="tooltip" data-bs-title="Misi lze upravovat nejpozději 30 minut před jejím začátkem">
                            <a class="btn btn-sm btn-link text-decoration-none disabled" disabled>
                                <i class="fa-solid fa-edit"></i> Upravit misi
                            </a>
                        </span>
                    }
                }
            </div>
        </div>
        <h1 class="h2">@_mission.Name</h1>
    </div>
    <div class="row">
        <div class="col-12 col-lg-6">
            <div class="card bg-dark-subtle">
                    <div class="card-header">
                        <h5 class="h6 card-title mb-0">Základní Informace</h5>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col">
                                <h6 class="card-subtitle text-primary">Autor</h6>
                                <p>@(_mission.Creator?.Nickname ?? "Odstraněný uživatel")</p>
                                <h6 class="card-subtitle text-primary">Kategorie Mise</h6>
                                <p>@(_mission.MissionType?.Name ?? "Odstraněná kategorie")</p>
                                <h6 class="card-subtitle text-primary">Typ Modpacku</h6>
                                <p>@(_mission.ModpackType?.Name ?? "Odstraněný typ")</p>
                            </div>
                            <div class="col">
                                <h6 class="card-subtitle text-primary">Připojování na Server</h6>
                                <p>@(_mission.MissionStartDate?.AddMinutes(-30))</p>
                                <h6 class="card-subtitle text-primary">Začátek Mise</h6>
                                <p>@(_mission.MissionStartDate)</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-auto">
                                <div class="d-flex flex-row gap-2">
                                    @if (_mission.ModpackUrl is not null)
                                    {
                                        <a class="btn btn-primary" href="@_mission.ModpackUrl">Stáhnout Modpack</a>
                                    }
                                    @if (_mission.SlottingSheetUrl is null)
                                    {
                                        <span class="fc-not-allowed" tabindex="0" data-bs-toggle="tooltip" data-bs-title="Slotování nebylo autorem dodáno">
                                            <a class="btn btn-primary disabled" disabled>Slotování</a>
                                        </span>
                                    }
                                    else
                                    {
                                        <a class="btn btn-primary" href="@_mission.SlottingSheetUrl">Slotování</a>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </div>
    
}

@code
{
    [Parameter]
    public Guid Id { get; set; }

    private MissionModel? _mission;
    private UserModel? _currentUser;

    protected override async Task OnInitializedAsync()
    {
        _mission = await MissionFacade.GetAsync(Id);
        
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        _currentUser = await UserFacade.GetAsync(authState.GetUserId().GetValueOrDefault());
    }
    
    
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await JSRuntime.InvokeVoidAsync("InitTooltips");
    }

}