@page "/Apply"
@using BrokenGrenade.Common.Models
@using BrokenGrenade.Web.App.Resources.Areas.Public.Pages
@using BrokenGrenade.Web.BL.Facades
@using Microsoft.Extensions.Localization
@inject ApplicationFacade ApplicationFacade
@inject IStringLocalizer<ApplyResources> Localizer
@inject IToastService ToastService

<PageTitle>@Localizer[nameof(IndexResources.HubPageTitle)] — BG Hub</PageTitle>

<div class="pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">@Localizer[nameof(IndexResources.HubPageTitle)]</h1>
</div>
<div class="card bg-dark-subtle mb-4">
    <div class="card-body transition-ease-in-out">
        @if (_submitted)
        {
            <div class="d-flex flex-column align-items-center">
                <h4 class="text-center text-success">@Localizer[nameof(ApplyResources.ConfirmationTitle)]</h4>
                <p class="text-center">@Localizer[nameof(ApplyResources.Confirmation1)]</p>
                <p class="text-center">@((MarkupString)Localizer[nameof(ApplyResources.Confirmation2)].Value)</p>
                <a class="btn btn-warning" href="https://discord.gg/uWMUa6Ngb9" target="_blank">
                    <i class="fa-brands fa-discord"></i> @Localizer[nameof(ApplyResources.JoinDiscordButton)]
                </a>
            </div>
        }
        else
        {
            <EditForm Model="_application" OnValidSubmit="@HandleValidSubmitAsync">
                <div class="row text-danger">
                    <div class="col">
                        <DataAnnotationsValidator/>
                    </div>
                </div>
                <div class="row">
                    <div class="col col-sm-6">
                        <div class="mb-3">
                            <label for="nickname" class="form-label">@Localizer[nameof(ApplyResources.Nickname)]</label>
                            <InputText id="nickname" tab class="form-control" @bind-Value="_application.Nickname"/>
                        </div>
                    </div>
                    <div class="col col-sm-6">
                        <div class="mb-3">
                            <label for="email" class="form-label">@Localizer[nameof(ApplyResources.Email)]</label>
                            <InputText id="email" class="form-control" @bind-Value="_application.Email"/>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col col-sm-6">
                        <div class="mb-3">
                            <label for="discord" class="form-label">@Localizer[nameof(ApplyResources.Discord)]</label>
                            <InputText id="discord" class="form-control" @bind-Value="_application.Discord"/>
                        </div>
                    </div>
                    <div class="col col-sm-6">
                        <div class="mb-3">
                            <label for="steam" class="form-label">@Localizer[nameof(ApplyResources.Steam)]</label>
                            <InputText id="steam" class="form-control" @bind-Value="_application.SteamUrl"/>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col col-sm-6">
                        <div class="mb-3">
                            <label for="age" class="form-label">@Localizer[nameof(ApplyResources.Age)]</label>
                            <InputNumber TValue="int?" id="age" class="form-control" @bind-Value="_application.Age"/>
                        </div>
                    </div>
                    <div class="col col-sm-6">
                        <div class="mb-3">
                            <label for="playtime" class="form-label">@Localizer[nameof(ApplyResources.Playtime)]</label>
                            <InputNumber TValue="int?" id="playtime" class="form-control" @bind-Value="_application.PlayTime"/>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="mb-3">
                            <label for="about" class="form-label">@Localizer[nameof(ApplyResources.About)]</label>
                            <InputTextArea id="about" class="form-control" @bind-Value="_application.About"/>
                        </div>
                        <div class="mb-3">
                            <label for="experience" class="form-label">@Localizer[nameof(ApplyResources.Experience)] @Localizer[nameof(ApplyResources.Optional)]</label>
                            <InputTextArea id="experience" class="form-control" @bind-Value="_application.PreviousExperience"/>
                        </div>
                        <div class="mb-3">
                            <label for="reason" class="form-label">@Localizer[nameof(ApplyResources.Reason)]</label>
                            <InputTextArea id="reason" class="form-control" @bind-Value="_application.ReasonToJoin"/>
                        </div>
                        <div class="mb-3">
                            <label for="offer" class="form-label">@Localizer[nameof(ApplyResources.Offer)]</label>
                            <InputTextArea id="offer" class="form-control" @bind-Value="_application.WhatCanYouOffer"/>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="mb-3">
                            <InputCheckbox id="rules" class="form-check-input" @bind-Value="_application.AgreedToRules"/>
                            <label for="rules" class="form-check-label">@((MarkupString)Localizer[nameof(ApplyResources.Rules)].Value)</label>
                        </div>
                        <div class="mb-3">
                            <InputCheckbox id="requirements" class="form-check-input" @bind-Value="_application.MeetsRequirements"/>
                            <label for="requirements" class="form-check-label">@Localizer[nameof(ApplyResources.MeetsRequirements)]</label>
                        </div>
                        <div class="mb-3">
                            <InputCheckbox id="gdpr" class="form-check-input" @bind-Value="_application.AcceptedGdpr"/>
                            <label for="gdpr" class="form-check-label">@((MarkupString)Localizer[nameof(ApplyResources.GDPR)].Value)</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col col-sm-6">
                        <div class="mb-3">
                            <label for="referral" class="form-label">@Localizer[nameof(ApplyResources.Referral)] @Localizer[nameof(ApplyResources.Optional)]</label>
                            <InputSelect id="referral" class="form-select" @bind-Value="_application.HowDidYouFindUs">
                                <option value="" selected>@Localizer[nameof(ApplyResources.NotSpecified)]</option>
                                <option value="@Localizer[nameof(ApplyResources.SocialNetworks)]">@Localizer[nameof(ApplyResources.SocialNetworks)]</option>
                                <option value="@Localizer[nameof(ApplyResources.Videos)]">@Localizer[nameof(ApplyResources.Videos)]</option>
                                <option value="@Localizer[nameof(ApplyResources.Search)]">@Localizer[nameof(ApplyResources.Search)]</option>
                                <option value="@Localizer[nameof(ApplyResources.OtherMember)]">@Localizer[nameof(ApplyResources.OtherMember)]</option>
                                <option value="@Localizer[nameof(ApplyResources.Other)]">@Localizer[nameof(ApplyResources.Other)]</option>
                            </InputSelect>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <button type="submit" class="btn btn-primary @(_submitting ? "disabled" : "")" disabled="@_submitting">
                            <i class="fa-solid fa-paper-plane fa-fw"></i> @Localizer[nameof(ApplyResources.SendApplicationButton)]
                        </button>
                    </div>
                </div>
                <div class="row text-danger">
                    <div class="col mt-3">
                        <ValidationSummary/>
                    </div>
                </div>
            </EditForm>
        }
    </div>
</div>

@code {
    private ApplicationModel _application = new();
    private bool _submitting;
    private bool _submitted;
    
    private async Task HandleValidSubmitAsync()
    {
        _submitting = true;
        try
        {
            await ApplicationFacade.SaveAsync(_application);
            _submitted = true;
        }
        catch (Exception e)
        {
            ToastService.ShowError( $"{Localizer[nameof(ApplyResources.ErrorMessage)]} {e.Message}");
        }
        finally
        {
            _submitting = false;
        }
    }

}