@page "/"
@using BrokenGrenade.Web.BL.Facades
@using BrokenGrenade.Common.Models
@using BrokenGrenade.Common.Models.Filters
@using BrokenGrenade.Web.App.Resources
@using BrokenGrenade.Web.App.Resources.Areas.Public.Pages
@using Humanizer
@using Microsoft.Extensions.Localization
@using BrokenGrenade.Common.Extensions
@inject MissionFacade MissionFacade
@inject TrainingFacade TrainingFacade
@inject IStringLocalizer<IndexResources> Localizer
@inject IStringLocalizer<SharedResources> SharedLocalizer

<PageTitle>@Localizer[nameof(IndexResources.HubPageTitle)]</PageTitle>

<div class="row mt-4 flex-wrap">
    <div class="col-12 col-lg-6 col-xxl-4 mb-4">
        <div class="card bg-dark-subtle">
            <div class="card-header">
                <h5 class="h6 card-title mb-0">@Localizer[nameof(IndexResources.TodaysMission)]</h5>
            </div>
            <div class="card-body">
                @if (_todaysMission is null)
                {
                    <div class="row d-flex justify-content-center">
                        <div class="col-6 d-flex flex-column justify-content-center">
                            <p class="text-center fw-bold">@Localizer[nameof(IndexResources.NoMissionToday)]</p>
                            <img class="img-fluid p-4" alt="Sad Pepe" src="assets/img/sad_pepe.webp"/>
                        </div>
                    </div>
                }
                else
                {
                    <div class="row">
                        <div class="col col-sm-6">
                            <div class="mb-3">
                                <h6 class="card-subtitle text-primary">@Localizer[nameof(IndexResources.MissionName)]</h6>
                                <p>@_todaysMission.Name</p>
                            </div>
                            <div class="mb-3">
                                <h6 class="card-subtitle text-primary">@Localizer[nameof(IndexResources.MissionAuthor)]</h6>
                                <p>@(_todaysMission.Creator?.Nickname ?? SharedLocalizer[nameof(SharedResources.DeletedUser)])</p>
                            </div>
                            <div class="mb-3">
                                <h6 class="card-subtitle text-primary">@Localizer[nameof(IndexResources.MissionCategory)]</h6>
                                <p>@(_todaysMission.MissionType?.Name ?? SharedLocalizer[nameof(SharedResources.DeletedMissionCategory)])</p>
                            </div>
                            <div class="mb-3">
                                <h6 class="card-subtitle text-primary">@Localizer[nameof(IndexResources.MissionModpack)]</h6>
                                <p>@(_todaysMission.ModpackType?.Name ?? SharedLocalizer[nameof(SharedResources.DeletedModpackType)])</p>
                            </div>
                        </div>
                        <div class="col col-sm-6">
                            <div class="mb-3">
                                <h6 class="card-subtitle text-primary">@Localizer[nameof(IndexResources.MissionConnecting)]</h6>
                                <p>@_todaysMission.MissionStartDate.ToShortTimeString() (@_todaysMission.MissionStartDate.AddMinutes(-30).Humanize())</p>
                            </div>
                            <div class="mb-3">
                                <h6 class="card-subtitle text-primary">@Localizer[nameof(IndexResources.MissionStart)]</h6>
                                <p>@_todaysMission.MissionStartDate.ToShortTimeString() (@_todaysMission.MissionStartDate.Humanize())</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-auto">
                            @if (_todaysMission.SlottingSheetUrl is null)
                            {
                                <span class="fc-not-allowed" tabindex="0" data-bs-toggle="tooltip" data-bs-title="@Localizer[nameof(IndexResources.SlottingNotProvided)]">
                                    <a class="btn btn-primary disabled" disabled>
                                        @SharedLocalizer[nameof(SharedResources.Slotting)]
                                        <i class="fa-solid fa-external-link"></i>
                                    </a>
                                </span>
                            }
                            else
                            {
                                <a class="btn btn-primary" href="@_todaysMission.SlottingSheetUrl" target="_blank">@SharedLocalizer[nameof(SharedResources.Slotting)] <i class="fa-solid fa-external-link"></i></a>
                            }
                        </div>
                        @if (_todaysMission.ModpackUrl is not null)
                        {
                            <div class="col-auto">
                                <a class="btn btn-primary" href="@_todaysMission.ModpackUrl" target="_blank">
                                    @Localizer[nameof(IndexResources.DownloadModpack)]
                                    <i class="fa-solid fa-external-link"></i>
                                </a>
                            </div>
                        }
                    </div>
                }
            </div>
        </div>
    </div>
    <div class="col-12 col-lg-6 col-xxl-4 mb-4">
        <div class="card bg-dark-subtle">
            <div class="card-header">
                <h5 class="h6 card-title mb-0">@Localizer[nameof(IndexResources.MissionsInUpcomingDays)]</h5>
            </div>
            <div class="card-body">
                <ListComponent TItem="MissionModel"
                               Items="_upcomingMissions"
                               DetailPageUrl="/Mission/"
                               EmptyMessage="@Localizer[nameof(IndexResources.NoUpcomingMissions)]"
                               class="table-hover w-100">
                    <TableHeader>
                        <th>@Localizer[nameof(IndexResources.UpcomingMissionDate)]</th>
                        <th>@Localizer[nameof(IndexResources.UpcomingMissionName)]</th>
                        <th>@Localizer[nameof(IndexResources.UpcomingMissionAuthor)]</th>
                        <th>@Localizer[nameof(IndexResources.UpcomingMissionModpack)]</th>
                    </TableHeader>
                    <RowTemplate Context="mission">
                        <td>@mission.MissionStartDate.ToDateTimeString()</td>
                        <td>@mission.Name</td>
                        <td>@(mission.Creator?.Nickname ?? SharedLocalizer[nameof(SharedResources.DeletedUser)])</td>
                        <td>@(mission.ModpackType?.Name ?? SharedLocalizer[nameof(SharedResources.DeletedModpackType)])</td>
                    </RowTemplate>
                </ListComponent>
            </div>
        </div>
    </div>
    <div class="col-12 col-lg-6 col-xxl-4 mb-4">
        <div class="card bg-dark-subtle">
            <div class="card-header">
                <h5 class="h6 card-title mb-0">@Localizer[nameof(IndexResources.UpcomingTrainings)]</h5>
            </div>
            <div class="card-body">
                <ListComponent TItem="TrainingModel"
                               Items="_upcomingTrainings"
                               EmptyMessage="@Localizer[nameof(IndexResources.NoUpcomingTrainings)]"
                               DetailPageUrl="/Training/"
                               class="table-hover w-100">
                    <TableHeader>
                        <th>@Localizer[nameof(IndexResources.UpcomingTrainingDate)]</th>
                        <th>@Localizer[nameof(IndexResources.UpcomingTrainingName)]</th>
                        <th>@Localizer[nameof(IndexResources.UpcomingTrainingInstructor)]</th>
                    </TableHeader>
                    <RowTemplate Context="training">
                        <td>@training.Date.ToDateTimeString()</td>
                        <td>@training.Name</td>
                        <td>@(training.Creator?.Nickname ?? @SharedLocalizer[nameof(SharedResources.DeletedUser)])</td>
                    </RowTemplate>
                </ListComponent>
            </div>
        </div>
    </div>
</div>

@code
{
    private MissionModel? _todaysMission;
    private List<MissionModel>? _upcomingMissions;
    private List<TrainingModel>? _upcomingTrainings;

    protected override async Task OnInitializedAsync()
    {
        _upcomingMissions = (await MissionFacade.GetUpcomingAsync(7))
            .OrderBy(x => x.MissionStartDate)
            .ToList();
        _upcomingTrainings = await TrainingFacade.GetUpcomingAsync();

        MissionFilterModel filter = new()
        {
            Date = DateTime.Today
        };
        _todaysMission = (await MissionFacade.GetAsync(filter)).FirstOrDefault();
    }
}