@page "/Mission/{Id:guid}"
@using BrokenGrenade.Data
@using Humanizer
@using System.Globalization
@inject MissionService MissionService

<PageTitle>@(_mission?.Name ?? "Detail Mise")</PageTitle>

<div class="row">
    <div class="col">
        <h3 class="text-dark mb-0">@(_mission?.Name ?? "Načítání...")</h3>
    </div>
    <div class="col col-auto">
        <a class="btn btn-secondary" href="/">Zpět</a>
    </div>
</div>
<div class="card shadow">
    <div class="card-body d-flex flex-column">
        @if (_mission is not null)
        {
            <div class="row mb-2">
                <div class="col">
                    <h5 class="fw-bold">@_mission.Name</h5>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="row">
                        <div class="col">
                            <h6 class="text-primary fw-bold mb-0">Autor</h6><span>@(_mission.Author is not null ? _mission.Author.UserName : "Smazaný uživatel")</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <h6 class="text-primary fw-bold mb-0">Modpack</h6><span>@(_mission.ModpackType is not null ? _mission.ModpackType.Name : "Vlastní")</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <h6 class="text-primary fw-bold mb-0">Druh Mise</h6><span>@(_mission.Category is not null ? _mission.Category.Name : "Odstraněná kategorie")</span>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="row">
                        <div class="col">
                            <h6 class="text-primary fw-bold mb-0">Velitelský briefing</h6><span>@(_mission.LeaderBriefing.HasValue ? _mission.LeaderBriefing.Value.Humanize(culture: new CultureInfo("cs_CZ")) : "Není")</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <h6 class="text-primary fw-bold mb-0">Připojování od</h6><span>@_mission.ConnectingToServer.ToShortTimeString()</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <h6 class="text-primary fw-bold mb-0">Start Mise</h6><span>@_mission.Start.ToShortTimeString()</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-auto">
                @if (_mission.ModpackUrl is not null)
                {
                    <div class="col d-flex d-xxl-flex justify-content-end"><a class="btn btn-primary d-flex" href="@_mission.ModpackUrl">Stáhnout Modpack</a></div>
                }
                <div class="col d-flex d-xxl-flex justify-content-end col-auto"><a class="btn btn-primary d-flex" href="@_mission.SlottingSheetUrl">Slotování</a></div>
            </div>
        }
    </div>
</div>

@code {
    [Parameter]
    public Guid Id { get; set; }

    private Mission? _mission;

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        _mission = await MissionService.GetByIdAsync(Id);
    }
}