@inject SignInManager<User> SignInManager
@{
    var hasExternalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).Any();
}

<nav class="navbar navbar-dark align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0">
    <div class="container-fluid d-flex flex-column p-0"><a class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0" href="#">
            <div class="sidebar-brand-icon rotate-n-15"></div>
            <div class="sidebar-brand-text mx-3"><span>Správa Účtu</span></div>
        </a>
        <hr class="sidebar-divider my-0">
        <ul class="navbar-nav text-light" id="accordionSidebar">
            <li class="nav-item">
                <a class="nav-link @ManageNavPages.IndexNavClass(ViewContext)" id="profile" asp-page="./Index">
                    <i class="fas fa-user"></i><span>Profil</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link @ManageNavPages.EmailNavClass(ViewContext)" id="email" asp-page="./Email">
                    <i class="fas fa-envelope"></i><span>Email</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link @ManageNavPages.ChangePasswordNavClass(ViewContext)" id="change-password" asp-page="./ChangePassword">
                    <i class="fas fa-envelope"></i><span>Heslo</span>
                </a>
            </li>
            @if (hasExternalLogins)
            {
                <li id="external-logins" class="nav-item">
                    <a class="nav-link @ManageNavPages.ExternalLoginsNavClass(ViewContext)" id="external-login" asp-page="./ExternalLogins">
                        <i class="fas fa-envelope"></i><span>Externí přihlášení</span>
                    </a>
                </li>
            }
            <li class="nav-item">
                <a class="nav-link @ManageNavPages.TwoFactorAuthenticationNavClass(ViewContext)" id="two-factor" asp-page="./TwoFactorAuthentication">
                    <i class="fas fa-envelope"></i><span>Dvoufázové ověřování</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link @ManageNavPages.PersonalDataNavClass(ViewContext)" id="personal-data" asp-page="./PersonalData">
                    <i class="fas fa-envelope"></i><span>Osobní data</span>
                </a>
            </li>
            <li class="nav-item">
                <div class="border-bottom border-light m-3"></div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/">
                    <i class="fas fa-door-open"></i><span>Zpět do aplikace</span>
                </a>
            </li>
        </ul>
        <div class="text-center d-none d-md-inline">
            <button class="btn rounded-circle border-0" id="sidebarToggle" type="button"></button>
        </div>
    </div>
</nav>
