@page "/Staff/Application/{Id:guid}"
@using BrokenGrenade.Common.Permissions
@using BrokenGrenade.Common.Models
@using BrokenGrenade.Web.BL.Facades
@using BrokenGrenade.Common.Enums
@using BrokenGrenade.Common.Extensions
@using BrokenGrenade.Web.App.Extensions
@using BrokenGrenade.Web.App.Shared.Modals
@inject ApplicationFacade ApplicationFacade
@inject UserFacade UserFacade
@inject IToastService ToastService
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject NavigationManager NavigationManager
@attribute [Authorize(Policy = PolicyTypes.ManageApplications)]

<PageTitle>Správa přihlášky — BG Hub</PageTitle>

<div class="pt-3 pb-2 mb-3">
    <div class="btn-toolbar mb-2 mb-md-0">
        <div class="btn-group me-2">
            <a class="btn btn-sm btn-link text-decoration-none" href="/Staff/Application">
                <i class="fa-solid fa-angles-left"></i> Zpět na všechny přihlášky
            </a>
            @if (_application is not null)
            {
                <button class="btn btn-sm btn-link link-danger text-decoration-none" @onclick="DeleteApplicationAsync">
                    <i class="fa-solid fa-remove"></i> Odstranit přihlášku
                </button>
            }
        </div>
    </div>
    <h1 class="h2">Správa přihlášky</h1>
</div>

<div class="card bg-dark-subtle mb-4">
    <div class="card-header">
        <h6 class="card-title mb-0">Obsah přihlášky</h6>
    </div>
    <div class="card-body">
        @if (_application is null)
        {
            <div class="row">
                <div class="col-12 col-sm-6 col-md-4">
                    <p class="form-control placeholder-glow" aria-hidden="true">
                        <span class="placeholder w-100"></span>
                    </p>
                </div>
            </div>
        }
        else
        {
            <div class="row">
                <div class="col-12 col-sm-4 col-md-3 mb-3">
                    <label class="form-label">Přezdívka</label>
                    <input class="form-control disabled" value="@_application.Nickname" disabled/>
                </div>
                <div class="col-12 col-sm-4 col-md-3 mb-3">
                    <label class="form-label">Discord</label>
                    <input class="form-control disabled" value="@_application.Discord" disabled/>
                </div>
                <div class="col-4 col-sm-2 col-md-1 mb-3">
                    <label class="form-label">Věk</label>
                    <input class="form-control disabled" value="@_application.Age" disabled/>
                </div>
                <div class="col-6 col-sm-3 col-md-2">
                    <label class="form-label">Herní čas</label>
                    <input class="form-control disabled" value="@_application.PlayTime" disabled/>
                </div>
                <div class="col-12 col-sm-6 col-md-4 mb-3">
                    <label class="form-label">Email</label>
                    <div class="input-group">
                        <input class="form-control disabled" value="@_application.Email" disabled/>
                        <span class="input-group-text">
                            <a class="btn btn-sm btn-link text-decoration-none" href="mailto:@_application.Email">
                                <i class="fa-solid fa-lg fa-envelope"></i>
                            </a>
                        </span>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-4 mb-3">
                    <label class="form-label">Steam účet</label>
                    <div class="input-group">
                        <input class="form-control disabled" value="@_application.SteamUrl" disabled/>
                        <span class="input-group-text">
                            <a class="btn btn-sm btn-link text-decoration-none" href="@_application.SteamUrl" target="_blank">
                                <i class="fa-solid fa-lg fa-external-link"></i>
                            </a>
                        </span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col mb-3">
                    <label class="form-label">Popiš sám sebe</label>
                    <textarea class="form-control disabled" value="@_application.About" rows="@_application.About.Rows()" disabled></textarea>
                </div>
            </div>
            <div class="row">
                <div class="col mb-3">
                    <label class="form-label">Předchozí zkušenosti</label>
                    <textarea class="form-control disabled" value="@_application.PreviousExperience" rows="@_application.PreviousExperience.Rows()" disabled></textarea>
                </div>
            </div>
            <div class="row">
                <div class="col mb-3">
                    <label class="form-label">Proč se k nám chceš přidat?</label>
                    <textarea class="form-control disabled" value="@_application.ReasonToJoin" rows="@_application.ReasonToJoin.Rows()" disabled></textarea>
                </div>
            </div>
            <div class="row">
                <div class="col mb-3">
                    <label class="form-label">Co nám můžeš nabídnout?</label>
                    <textarea class="form-control disabled" value="@_application.WhatCanYouOffer" rows="@_application.WhatCanYouOffer.Rows()" disabled></textarea>
                </div>
            </div>
        }
    </div>
</div>

<div class="card bg-dark-subtle mb-4">
    <div class="card-header">
        <h6 class="card-title mb-0">Stav přihlášky</h6>
    </div>
    <div class="card-body">
        @if (_application is null)
        {
            <p class="text-center fw-bold">Načítání...</p>
        }
        else
        {
            <div class="row">
                <div class="col-12 col-sm-4 col-md-3 mb-3">
                    <label class="form-label">Vytvořeno</label>
                    <input type="text" class="form-control disabled" value="@_application.CreatedAt.ToDateTimeString()" disabled/>
                </div>
                <div class="col-12 col-sm-4 col-md-3 mb-3">
                    
                </div>
                
            </div>
            <div class="row">
                <div class="col mb-3">
                    <label class="form-label">Status</label>
                    @switch (_application.Status)
                    {
                        case ApplicationStatus.AwaitingDecision:
                            <a role="button" class="form-control btn btn-warning disabled">Nerozhodnuto</a>
                            break;
                                            
                        case ApplicationStatus.Accepted:
                            <a role="button" class="form-control btn btn-sm btn-success disabled">Přijat</a>
                            break;
                                                
                        case ApplicationStatus.Rejected:
                            <a role="button" class="form-control btn btn-sm btn-danger disabled">Odmítnut</a>
                            break;
                        default:
                            <span>Neznámý stav</span>
                            break;
                    }
                    
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="d-flex flex-row gap-2">
                        @if (_application.Status != ApplicationStatus.Accepted)
                        {
                            <button class="btn btn-success" @onclick="AcceptAsync">Přijmout přihlášku</button>
                            <button class="btn btn-danger" @onclick="RejectAsync">Odmítnout přihlášku</button>
                        }
                        else
                        {
                            <button class="btn btn-success disabled">Přijmout přihlášku</button>
                            <span data-bs-toggle="tooltip" data-bs-title="Přijatou přihlášku již nelze dál upravovat">
                                <button class="btn btn-danger disabled" >Odmítnout přihlášku</button>
                            </span>
                        }
                    </div>
                </div>
            </div>
        }
    </div>
</div>

@code {
    [Parameter]
    public Guid Id { get; set; }
    
    [CascadingParameter]
    public IModalService Modal { get; set; } = default!;

    private ApplicationModel? _application;
    private UserModel? _currentUser;
    
    protected override async Task OnInitializedAsync()
    {
        try
        {
            _application = await ApplicationFacade.GetAsync(Id);
            if (_application is null)
                throw new Exception("Nepodařilo se načíst přihlášku.");
        }
        catch (Exception e)
        {
            ToastService.ShowError(e.Message);
            return;
        }

        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        _currentUser = await UserFacade.GetAsync(authState.GetUserId().GetValueOrDefault());
    }

    private async Task RejectAsync()
    {
        if (_application is null || _currentUser is null)
            return;
        
        _application.Status = ApplicationStatus.Rejected;
        _application.EditedById = _currentUser.Id;
        try
        {
            await ApplicationFacade.SaveAsync(_application);
        }
        catch (Exception e)
        {
            ToastService.ShowError(e.Message);
            return;
        }
        
        ToastService.ShowSuccess("Přihláška byla úspěšně zamítnuta.");
    }

    private async Task AcceptAsync()
    {
        if (_application is null || _currentUser is null)
            return;

        var parameters = new ModalParameters()
            .Add(nameof(CreateUserFromApplicationModal.Application), _application);

        var modalResult = await Modal.Show<CreateUserFromApplicationModal>(string.Empty, parameters, ModalPresets.CustomLayout).Result;
        if (!modalResult.Confirmed)
            return;
        
        var user = modalResult.Data as UserModel;
        if (user is null)
        {
            ToastService.ShowError("Nepodařilo se vytvořit uživatele.");
            return;
        }

        try
        {
            await UserFacade.CreateAsync(user);
        }
        catch (Exception e)
        {
            ToastService.ShowError(e.Message);
            return;
        }
        
        ToastService.ShowSuccess("Uživatel byl úspěšně vytvořen.");
        
        _application.Status = ApplicationStatus.Accepted;
        _application.UserId = user.Id;
        _application.EditedById = _currentUser.Id;

        try
        {
            await ApplicationFacade.SaveAsync(_application);
        }
        catch (Exception e)
        {
            ToastService.ShowError(e.Message);
            return;
        }
        
        ToastService.ShowSuccess("Přihláška byla úspěšně přijata.");
    }

    private async Task DeleteApplicationAsync()
    {
        if (_application is null)
            return;
        
        var parameters = new ModalParameters()
            .Add(nameof(DeleteConfirmationModal.Title), "Opravdu chcete odstranit tuto přihlášku?")
            .Add(nameof(DeleteConfirmationModal.WarningText), "V případě již přijaté přihlášky zůstane uživatel zachován.")
            .Add(nameof(DeleteConfirmationModal.DangerText), "Tato operace je nevratná");

        var modalResult = await Modal.Show<DeleteConfirmationModal>(string.Empty, parameters, ModalPresets.CustomLayout).Result;
        if (!modalResult.Confirmed)
            return;

        try
        {
            await ApplicationFacade.DeleteAsync(_application);
        }
        catch (Exception e)
        {
            ToastService.ShowError(e.Message);
            return;
        }
        
        NavigationManager.NavigateTo("/applications");
        ToastService.ShowSuccess("Přihláška byla úspěšně odstraněna.");
    }
}