@page "/Staff/Punishment"
@using BrokenGrenade.Common.Permissions
@using BrokenGrenade.Common.Models
@*@inject PunishmentFacade PunishmentFacade*@
@attribute [Authorize(Policy = PolicyTypes.ManageRoles)]

<PageTitle>Seznam Zákazú — BG Hub</PageTitle>


<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3">
    <h1 class="h2">Evidence Zákazú</h1>
</div>
<div class="card bg-dark-subtle mb-4">
    <div class="card-header">
        <h6 class="card-title">Filtrování</h6>
    </div>
    <div class="card-body">
        <EditForm Model="_filter" id="filterForm" OnSubmit="FilterAsync">
            <div class="row">
                <div class="col col-sm-6">
                    <div class="mb-3">
                        <label for="searchName" class="form-label">Podle jména</label>
                        <InputText class="form-control" @bind-Value="_filter.Name" id="searchName" />
                    </div>
                    <div class="mb-3">
                        <label for="searchPunishmentType" class="form-label">Podle trestu</label>
                        <InputSelect TValue="Guid?" class="form-select" @bind-Value="_filter.PunishmentType" id="searchPunishmentType">
                            <option value="" selected>Všechny tresty</option>
                            @if (_punishmentTypes is not null)
                            {
                                @foreach (var type in _punishmentTypes)
                                {
                                    <option value="@type.Id">@type.Name</option>
                                }
                            }
                        </InputSelect>
                    </div>
                    <div class="mb-3">
                        <label for="searchDate" class="form-label">Podle aktivnosti</label>
                        <InputDate Type="InputDateType.Date" class="form-control" @bind-Value="_filter.Date" id="searchDate" />
                    </div>
                </div>
                <div class="col col-sm-6">
                    <div class="mb-3">
                        <label for="searchCreator" class="form-label">Podle autora</label>
                        @if (_creatorName is not null)
                        {
                            <input class="form-control disabled" value="@_creatorName" disabled />
                        }
                        else
                        {
                            <InputText class="form-control" @bind-Value="_filter.Creator" id="searchCreator" />
                        }
                    </div>
                    <div class="mb-3">
                        <label for="searchModpackType" class="form-label">Podle modpacku</label>
                        <InputSelect TValue="Guid?" class="form-select" @bind-Value="_filter.ModpackType" id="searchModpackType">
                            <option value="" selected>Všechny modpacky</option>
                            @if (_modpackTypes is not null)
                            {
                                @foreach (var type in _modpackTypes)
                                {
                                    <option value="@type.Id">@type.Name</option>
                                }
                            }
                        </InputSelect>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="d-flex flex-row gap-2">
                        <button type="submit" class="btn btn-primary">Filtrovat</button>
                        <button type="reset" class="btn btn-outline-secondary" @onclick="ResetFilterAsync">Vymazat filtry</button>
                    </div>

                </div>
            </div>
        </EditForm>
    </div>
</div>
<div class="card bg-dark-subtle mb-4"> 
    <div class="card-body">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Datum Udelení</th>
                        <th scope="col">Jméno Hráče</th>
                        <th scope="col">Trest</th>
                        <th scope="col">Datum Expirace</th>
                        <th scope="col">Udělil</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @*@if (_punishments.Count > 0)  // Total kaboom ked nemá value
                    {
                        @foreach (var punishment in PunishmentPages[_currentPage])
                        {*@
                            <tr>
                                <td>Datum Udelení</td>  
                                <td>Jméno hráče</td>
                                <td>Trest</td>
                                <td>Datum Expirace</td>
                                <td>Udělil</td>
                            </tr> 
                            @*<tr>
                                <td>@punishment.PunishmentStartDate</td> Datum začatia trestu
                                <td>@punishment.Name</td>  Meno hráča čo zákaz dostal
                                <td>@(punishment.Type? ?? "Odstraněný uživatel")</td>  Trest
                                <td>@punishment.expiresOn</td>  Datum ukončenia/za koľko dní trest skončí
                                <td>@(punishment.Dealer?.Name ?? "Odstraněný uživatel")</td>  Kto trest udelil
                                <td>
                                  <a class="btn btn-primary" href="/Mission/Detail/@punishment.Id">Detail</a>  Useless button imo
                                </td>
                            </tr> 
                        }
                    }
                    else
                    {
                        <tr>
                            <td colspan="6">
                                <p class="text-center">Nebyly nalezeny žádné tresty</p>
                            </td>
                        </tr>
                    }*@
                </tbody>
            </table>
            @*<div class="row">       // Má problém s _punishments.Countom 
                <div class="col col-md-6 align-self-center">  
                    <p>Zobrazeno @(1 + _currentPage * 10)-@(10 + _currentPage * 10 < _punishments.Count ? 10 + _currentPage * 10 : _punishments.Count) z @_punishments.Count</p>
                </div>
                <div class="col col-md-6">
                    <nav class="d-flex justify-content-end" aria-label="Stránkování">
                        <ul class="pagination">
                            <li class="page-item @(_currentPage <= 0 ? "disabled" : "")">
                                <a class="page-link" href="#" aria-label="Předchozí">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                            @for (var i = _currentPage - 1; i <= _currentPage + 1; i++)
                            {
                                var num = i;
                                if (_currentPage == 0)
                                    num = i + 1; // So user cant go to page -1

                                else if (_currentPage >= PunishmentPages.Count - 1)
                                    num = i - 1; // So user cant go to a page that is too high

                            if (num > PunishmentPages.Count - 1)
                                {
                                    break; // If there are fewer than 3 pages total
                                }
                            if (_currentPage == 1 && PunishmentPages.Count == 2 && i == 0)
                                {
                                    // If only 2 pages are available, clicking the second one would make page 0 appear
                                    // which is obviously not possible
                                    continue;
                                }

                                <li class="page-item @(_currentPage == num ? "active" : "")">
                                    <a class="page-link" @onclick="() => _currentPage = num" role="button">@(num + 1)</a>
                                </li>
                            }
                        <li class="page-item @(_currentPage >= PunishmentPages.Count - 1 ? "disabled" : "")">
                                <a class="page-link" href="#" aria-label="Následující">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
           }
       </div>*@
    </div>
</div>
        }


@code {
    // filtrovani nazvu trestu + uživatele + aktivnost trestu
    private List<PunishmentModel>? _punishments;
    private List<List<PunishmentModel>> PunishmentPages;
    private int _currentPage = 0;
}