@using BrokenGrenade.Common.Permissions
@using BrokenGrenade.Web.App.Extensions
@using BrokenGrenade.Web.BL.Facades
@using Duende.IdentityServer.Extensions
@inject ApplicationFacade ApplicationFacade
@inject IJSRuntime JSRuntime

<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-dark-subtle sidebar collapse fs-6">
  <button class="d-none" id="closeSidebarBtn" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false"></button>
  <div class="position-sticky pt-3 sidebar-sticky d-flex flex-column">
    <ul class="nav flex-column" id="nav_accordion">
      <li class="nav-item">
        <NavLink class="nav-link" ActiveClass="active" Match="NavLinkMatch.All" href="/" @onclick="CollapseAsync">
          <i class="fa-solid fa-house fa-fw"></i> Domů
        </NavLink>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-bs-toggle="collapse" data-bs-target="#menu_mission" href="#">
          <i class="fa-solid fa-gamepad fa-fw"></i> Mise
          <i class="fa-solid fa-caret-down"></i>
        </a>
        <ul id="menu_mission" class="submenu collapse list-unstyled" data-bs-target="#nav_accordion">
          <li class="nav-item ms-4">
            <NavLink class="nav-link" ActiveClass="active" href="/Calendar/Mission" @onclick="CollapseAsync">
              <i class="fa-solid fa-calendar fa-fw"></i> Kalendář misí
            </NavLink>
          </li>
          <li class="nav-item ms-4">
            <NavLink class="nav-link" ActiveClass="active" href="/Mission" @onclick="CollapseAsync">
              <i class="fa-solid fa-list fa-fw"></i> Seznam misí
            </NavLink>
          </li>
        </ul>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-bs-toggle="collapse" data-bs-target="#menu_training" href="#">
          <i class="fa-solid fa-graduation-cap fa-fw"></i> Výcviky
          <i class="fa-solid fa-caret-down"></i>
        </a>
        <ul id="menu_training" class="submenu collapse list-unstyled" data-bs-target="#nav_accordion">
          <li class="nav-item ms-4">
            <NavLink class="nav-link" ActiveClass="active" href="/Calendar/Training" @onclick="CollapseAsync">
              <i class="fa-solid fa-calendar fa-fw"></i> Kalendář výcviků
            </NavLink>
          </li>
          <li class="nav-item ms-4">
            <NavLink class="nav-link" ActiveClass="active" href="/Training" @onclick="CollapseAsync">
              <i class="fa-solid fa-list fa-fw"></i> Seznam výcviků
            </NavLink>
          </li>
        </ul>
      </li>
      <AuthorizeView>
        <Authorized>
          <li class="nav-item">
            <NavLink class="nav-link" ActiveClass="active" href="/Article" @onclick="CollapseAsync">
              <i class="fa-solid fa-book fa-fw"></i> Návody
            </NavLink>
          </li>
        </Authorized>
      </AuthorizeView>
    </ul>
    <AuthorizeView Policy="@PolicyTypes.CreateMissions">
      <Authorized>
        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
          <span class="text-uppercase">Mission Maker</span>
        </h6>
        <ul class="nav flex-column mb-2">
          <li class="nav-item">
            <NavLink class="nav-link" ActiveClass="active" href="@($"/Mission?creator_id={context.GetUserId()}")" @onclick="CollapseAsync">
              <i class="fa-solid fa-gamepad fa-fw"></i> Moje mise
            </NavLink>
          </li>
          <li class="nav-item">
            <NavLink class="nav-link" ActiveClass="active" href="/Staff/Mission/Create" @onclick="CollapseAsync">
              <i class="fa-solid fa-calendar-plus fa-fw"></i> Vytvořit misi
            </NavLink>
          </li>
        </ul>
      </Authorized>
    </AuthorizeView>
    <AuthorizeView Policy="@PolicyTypes.CreateTrainings">
      <Authorized>
        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
          <span class="text-uppercase">Instruktor</span>
        </h6>
        <ul class="nav flex-column mb-2">
          <li class="nav-item">
            <NavLink class="nav-link" ActiveClass="active" href="@($"/Training?creator_id={context.GetUserId()}")" @onclick="CollapseAsync">
              <i class="fa-solid fa-graduation-cap fa-fw"></i> Moje výcviky
            </NavLink>
          </li>
          <li class="nav-item">
            <NavLink class="nav-link" ActiveClass="active" href="/Staff/Training/Create" @onclick="CollapseAsync">
              <i class="fa-solid fa-calendar-plus fa-fw"></i> Vytvořit výcvik
            </NavLink>
          </li>
        </ul>
      </Authorized>
    </AuthorizeView>
    <AuthorizeView Policy="@PolicyTypes.CreateArticles">
      <Authorized>
        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
          <span class="text-uppercase">Návody</span>
        </h6>
        <ul class="nav flex-column mb-2">
          <li class="nav-item">
            <NavLink class="nav-link" ActiveClass="active" href="@($"/Article?creator_id={context.GetUserId()}")">
              <i class="fa-solid fa-book fa-fw"></i> Moje návody
            </NavLink>
          </li>
          <li class="nav-item">
            <NavLink class="nav-link" ActiveClass="active" href="/Staff/Article/Create">
              <i class="fa-solid fa-file-circle-plus fa-fw"></i> Vytvořit návod
            </NavLink>
          </li>
        </ul>
      </Authorized>
    </AuthorizeView>
    <AuthorizeView Policy="@PolicyTypes.IsPlatoonLead">
      <Authorized Context="_">
        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
          <span class="text-uppercase">Platoon Lead</span>
        </h6>
        <ul class="nav flex-column mb-2">
          <AuthorizeView Policy="@PolicyTypes.ManageApplications">
            <Authorized>
              <li class="nav-item">
                <NavLink class="nav-link" ActiveClass="active" href="/Staff/Application" @onclick="CollapseAsync">
                  <i class="fa-solid fa-file-lines fa-fw"></i> Přihlášky
                  <span class="badge @(_unhandledApplicationsCount > 0 ? "text-bg-warning" : "text-bg-success") ">@_unhandledApplicationsCount</span>
                </NavLink>
              </li>
            </Authorized>
          </AuthorizeView>
          <AuthorizeView Policy="@PolicyTypes.ManageUsers">
            <Authorized>
              <li class="nav-item">
                <div class="nav-link">
                  <i class="fa-solid fa-person-harassing fa-fw"></i> Varování a zákazy <span class="badge bg-secondary">JIŽ BRZY</span>
                </div>
                @* <NavLink class="nav-link" ActiveClass="active" href="/Staff/Punishment"> *@
                @*   <i class="fa-solid fa-person-harassing fa-fw"></i> Varování a zákazy *@
                @* </NavLink> *@
              </li>
              <li class="nav-item">
                <NavLink class="nav-link" ActiveClass="active" href="/Staff/User" @onclick="CollapseAsync">
                  <i class="fa-solid fa-user fa-fw"></i> Správa uživatelů
                </NavLink>
              </li>
            </Authorized>
          </AuthorizeView>
          <AuthorizeView Policy="@PolicyTypes.ManageRoles">
            <Authorized>
              <li class="nav-item">
                <NavLink class="nav-link" ActiveClass="active" href="/Staff/Role" @onclick="CollapseAsync">
                  <i class="fa-solid fa-users fa-fw"></i> Správa rolí
                </NavLink>
              </li>
            </Authorized>
          </AuthorizeView>
          <AuthorizeView Policy="@PolicyTypes.ManageMissions">
            <Authorized>
              <li class="nav-item">
                <NavLink class="nav-link" ActiveClass="active" href="/Staff/Mission" @onclick="CollapseAsync">
                  <i class="fa-solid fa-gamepad fa-fw"></i> Správa misí
                </NavLink>
              </li>
            </Authorized>
          </AuthorizeView>
          <AuthorizeView Policy="@PolicyTypes.ManageTrainings">
            <Authorized>
              <li class="nav-item">
                <NavLink class="nav-link" ActiveClass="active" href="/Staff/Training" @onclick="CollapseAsync">
                  <i class="fa-solid fa-graduation-cap fa-fw"></i> Správa výcviků
                </NavLink>
              </li></Authorized>
          </AuthorizeView>
          <AuthorizeView Policy="@PolicyTypes.ManageTrainings">
            <Authorized>
              <li class="nav-item">
                <NavLink class="nav-link" ActiveClass="active" href="/Staff/Article">
                  <i class="fa-solid fa-book fa-fw"></i> Správa návodů
                </NavLink>
              </li></Authorized>
          </AuthorizeView>
        </ul>
      </Authorized>
    </AuthorizeView>
    <AuthorizeView>
      <NotAuthorized>
        <div class="mt-auto">
          <div class="m-2">
            <a class="btn btn-warning w-100 fw-bold" href="/Apply">
              <i class="fa-solid fa-crown fa-fw"></i> Přidat se
            </a>
          </div>
        </div>
      </NotAuthorized>
    </AuthorizeView>
  </div>
</nav>

@code
{
  private int _unhandledApplicationsCount = 0;

  protected override async Task OnInitializedAsync()
  {
    _unhandledApplicationsCount = await ApplicationFacade.GetUnhanledApplicationsCountAsync();
  }

  private async Task CollapseAsync()
  {
    await JSRuntime.InvokeVoidAsync("CollapseSidebar", "sidebarMenu", "closeSidebarBtn");
  }
}
