@using BrokenGrenade.Common.Permissions

<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
  <div class="position-sticky pt-3 sidebar-sticky">
    <ul class="nav flex-column" id="nav_accordion">
      <li class="nav-item">
        <NavLink class="nav-link" ActiveClass="active" Match="NavLinkMatch.All" href="/">
          <i class="fa-solid fa-house fa-fw"></i> Domů
        </NavLink>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-bs-toggle="collapse" data-bs-target="#menu_mission" href="#">
          <i class="fa-solid fa-gamepad fa-fw"></i> Mise
          <i class="fa-solid fa-caret-down"></i>
        </a>
        <ul id="menu_mission" class="submenu collapse list-unstyled" data-bs-target="#nav_accordion">
          <li class="nav-item ms-4">
            <NavLink class="nav-link" ActiveClass="active" href="/Mission/Calendar">
              <i class="fa-solid fa-calendar fa-fw"></i> Kalendář misí
            </NavLink>
          </li>
          <li class="nav-item ms-4">
            <NavLink class="nav-link" ActiveClass="active" href="/Mission/List">
              <i class="fa-solid fa-list fa-fw"></i> Seznam misí
            </NavLink>
          </li>
        </ul>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-bs-toggle="collapse" data-bs-target="#menu_training" href="#">
          <i class="fa-solid fa-graduation-cap fa-fw"></i> Výcviky
          <i class="fa-solid fa-caret-down"></i>
        </a>
        <ul id="menu_training" class="submenu collapse list-unstyled" data-bs-target="#nav_accordion">
          <li class="nav-item ms-4">
            <NavLink class="nav-link" ActiveClass="active" href="/Training/Calendar">
              <i class="fa-solid fa-calendar fa-fw"></i> Kalendář výcviků
            </NavLink>
          </li>
          <li class="nav-item ms-4">
          <NavLink class="nav-link" ActiveClass="active" href="/Training/List">
            <i class="fa-solid fa-list fa-fw"></i> Seznam výcviků
          </NavLink>
          </li>
        </ul>
      </li>
    </ul>
    <AuthorizeView Policy="@PolicyTypes.CreateMissions">
      <Authorized>
        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
          <span class="text-uppercase">Mission Maker</span>
        </h6>
        <ul class="nav flex-column mb-2">
          <li class="nav-item">
            <NavLink class="nav-link" ActiveClass="active" href="/Mission/List?creator_id=TODO">
              <i class="fa-solid fa-gamepad fa-fw"></i> Moje mise
            </NavLink>
          </li>
          <li class="nav-item">
            <NavLink class="nav-link" ActiveClass="active" href="/Staff/Mission/Create">
              <i class="fa-solid fa-calendar-plus fa-fw"></i> Vytvořit misi
            </NavLink>
          </li>
        </ul>
      </Authorized>
    </AuthorizeView>
    <AuthorizeView Policy="@PolicyTypes.CreateTrainings">
      <Authorized>
        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
          <span class="text-uppercase">Instruktor</span>
        </h6>
        <ul class="nav flex-column mb-2">
          <li class="nav-item">
            <NavLink class="nav-link" ActiveClass="active" href="/Training/List?creator_id=TODO">
              <i class="fa-solid fa-graduation-cap fa-fw"></i> Moje výcviky
            </NavLink>
          </li>
          <li class="nav-item">
          <NavLink class="nav-link" ActiveClass="active" href="/Staff/Training/Create">
            <i class="fa-solid fa-calendar-plus fa-fw"></i> Vytvořit výcvik
          </NavLink>
          </li>
        </ul>
      </Authorized>
    </AuthorizeView>
    <AuthorizeView Policy="@PolicyTypes.IsPlatoonLead">
      <Authorized Context="_">
      <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
        <span class="text-uppercase">Platoon Lead</span>
      </h6>
      <ul class="nav flex-column mb-2">
        <AuthorizeView Policy="@PolicyTypes.ManageApplications">
          <Authorized>
            <li class="nav-item">
              <NavLink class="nav-link" ActiveClass="active" href="/Staff/Application/List">
                <i class="fa-solid fa-file-lines fa-fw"></i> Přihlášky
              </NavLink>
            </li>
          </Authorized>
        </AuthorizeView>
        <AuthorizeView Policy="@PolicyTypes.ManageUsers">
          <Authorized>
            <li class="nav-item">
              <NavLink class="nav-link" ActiveClass="active" href="/Staff/User/List">
                <i class="fa-solid fa-user fa-fw"></i> Správa uživatelů
              </NavLink>
            </li>
          </Authorized>
        </AuthorizeView>
        <AuthorizeView Policy="@PolicyTypes.ManageRoles">
          <Authorized>
            <li class="nav-item">
              <NavLink class="nav-link" ActiveClass="active" href="/Staff/Role/List">
                <i class="fa-solid fa-users fa-fw"></i> Správa rolí
              </NavLink>
            </li>
          </Authorized>
        </AuthorizeView>
        <AuthorizeView Policy="@PolicyTypes.ManageMissions">
          <Authorized>
            <li class="nav-item">
              <NavLink class="nav-link" ActiveClass="active" href="/Staff/Mission/List">
                <i class="fa-solid fa-gamepad fa-fw"></i> Správa misí
              </NavLink>
            </li>
          </Authorized>
        </AuthorizeView>
        <AuthorizeView Policy="@PolicyTypes.ManageTrainings"><Authorized>
            <li class="nav-item">
              <NavLink class="nav-link" ActiveClass="active" href="/Staff/Training/List">
                <i class="fa-solid fa-graduation-cap fa-fw"></i> Správa výcviků
              </NavLink>
            </li></Authorized>
        </AuthorizeView>
      </ul>
      </Authorized>
    </AuthorizeView>
  </div>
</nav>
