@page "/Staff/Role"
@using BrokenGrenade.Common.Permissions
@using BrokenGrenade.Common.Models
@using BrokenGrenade.Common.Models.Filters
@using BrokenGrenade.Web.BL.Facades
@using Microsoft.AspNetCore.Components
@inject RoleFacade RoleFacade
@attribute [Authorize(Policy = PolicyTypes.ManageRoles)]

<PageTitle>Seznam Rolí — BG Hub</PageTitle>

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3">
    <h1 class="h2">Seznam Rolí</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
        <div class="btn-group me-2">
            <a class="btn btn-primary" href="/Staff/Punishment/Create">
                <i class="fa-solid fa-plus"></i> Vytvořit novou roli
            </a>
        </div>
    </div>
</div>
<div class="card bg-dark-subtle mb-4">
    <div class="card-header">
        <h6 class="card-title mb-0">Filtrování</h6>
    </div>
    <div class="card-body">
        <EditForm Model="_filter" id="filterForm" OnSubmit="FilterAsync">
            <div class="row">
                <div class="col-12 col-sm-6">
                    <div class="mb-3">
                        <label for="searchRoleType" class="form-label">Podle názvu</label>
                        <InputText TValue="Guid?" class="form-control" @bind-Value="_filter.RoleName" id="searchRoleType"/>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-sm-6">
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="d-flex flex-row gap-2">
                        <button type="submit" class="btn btn-primary">Filtrovat</button>
                        <button type="reset" class="btn btn-outline-secondary" @onclick="ResetFilterAsync">Vymazat filtry</button>
                    </div>

                </div>
            </div>
        </EditForm>
    </div>
</div>
<div class="card bg-dark-subtle mb-4">
    <div class="card-body">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Pořadí</th>
                <th>Jméno role</th>
                <th>Počet uživatelů s rolí</th>
                <th>Detail</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            
            @if (_Roles is null)
            {
                <tr>
                    <td>
                        <p class="placeholder-glow">
                            <span class="placeholder col-6"></span>
                        </p>
                    </td>
                    <td>
                        <p class="placeholder-glow">
                            <span class="placeholder col-6"></span>
                        </p>
                    </td>
                    <td>
                        <p class="placeholder-glow">
                            <span class="placeholder col-6"></span>
                        </p>
                    </td>
                    <td>
                        <p class="placeholder-glow">
                            <span class="placeholder col-6"></span>
                        </p>
                    </td>
                    <td>
                        <p class="placeholder-glow">
                            <span class="placeholder col-6"></span>
                        </p>
                    </td>
                    <td>
                        <p class="placeholder-glow">
                            <span class="placeholder col-6"></span>
                        </p>
                    </td>
                </tr>
            }
            else
            {
                @if (_Roles.Count > 0)
                {
                    @foreach (var role in RolePages[_currentPage])
                    {
                        <tr>
                            <td>@role.Priority</td>
                            <td>@role.Name</td>
                            <td>@role.UserCount</td>
                            <td>
                                <a class="btn btn-primary" href="/Staff/Role/Edit/@role.Id">Upravit</a>
                            </td>
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td colspan="6">
                            <p class="text-center">Nebyly nalezeny žádné role</p>
                        </td>
                    </tr>
                }
            }
            </tbody>
        </table>
        @if (_Roles?.Count > 0)
        {
            <div class="row">
                <div class="col col-md-6 align-self-center">
                    <p>Zobrazeno @(1 + _currentPage * 10)-@(10 + _currentPage * 10 < _Roles.Count ? 10 + _currentPage * 10 : _Roles.Count) z @_Roles.Count</p>
                </div>
                <div class="col col-md-6">
                    <nav class="d-flex justify-content-end" aria-label="Stránkování">
                        <ul class="pagination">
                            <li class="page-item @(_currentPage <= 0 ? "disabled" : "")">
                                <a class="page-link" href="#" aria-label="Předchozí">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                            @for (var i = _currentPage - 1; i <= _currentPage + 1; i++)
                            {
                                var num = i;
                                if (_currentPage == 0)
                                    num = i + 1; // So user cant go to page -1

                                else if (_currentPage >= RolePages.Count - 1)
                                    num = i - 1; // So user cant go to a page that is too high

                                if (num > RolePages.Count - 1)
                                {
                                    break; // If there are fewer than 3 pages total
                                }
                                if (_currentPage == 1 && RolePages.Count == 2 && i == 0)
                                {
                                    // If only 2 pages are available, clicking the second one would make page 0 appear
                                    // which is obviously not possible
                                    continue;
                                }

                                <li class="page-item @(_currentPage == num ? "active" : "")">
                                    <a class="page-link" @onclick="() => _currentPage = num" role="button">@(num + 1)</a>
                                </li>
                            }
                                <li class="page-item @(_currentPage >= RolePages.Count - 1 ? "disabled" : "")">
                                <a class="page-link" href="#" aria-label="Následující">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        }
    </div>
</div>


@*TODO*@

@code {
    private List<RoleModel>? _Roles;

    private List<List<RoleModel>> RolePages => _Roles is null ? new List<List<RoleModel>>() : _Roles.Select((x, i) =>
        new
        {
            Index = i,
            Value = x
        }).GroupBy(x => x.Index / 10)
        .Select(x => x.Select(v => v.Value).ToList()).ToList();

    private int _currentPage;

    private RoleFilterModel _filter = new();

    protected override async Task OnInitializedAsync()
    {
        _Roles = await RoleFacade.GetAsync();
    }

    private async Task ResetFilterAsync()
    {
        _filter = new();
        await FilterAsync();
    }

    private async Task FilterAsync()
    {
        _currentPage = 0;
        _Roles = null;
        _Roles = (await RoleFacade.GetAsync(_filter)).ToList();
    }

}