@page
@model LoginModel

@{
    ViewData["Title"] = "Přihásit se";
    Layout = "_Layout";
}

<div class="row">
    <div class="col-lg-6 d-none d-lg-flex">
        <div class="flex-grow-1 bg-password-image" style="background-image: url('/assets/img/background1.png');"></div>
    </div>
    <div class="col-lg-6">
        <div class="p-5">
            <div class="text-center">
                <h4 class="text-dark mb-4">Přihlásit se</h4>
            </div>
            <form class="user" id="account" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                <div class="mb-3">
                    <input asp-for="Input.Username" class="form-control form-control-user" autocomplete="username" aria-required="true" placeholder="Přezdívka" />
                    <span asp-validation-for="Input.Username" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <input asp-for="Input.Password" class="form-control form-control-user" autocomplete="current-password" aria-required="true" placeholder="Heslo" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <div class="custom-control custom-checkbox small">
                        <div class="form-check">
                            <label asp-for="Input.RememberMe" class="form-label">
                                <input class="form-check-input" asp-for="Input.RememberMe" />
                                @Html.DisplayNameFor(m => m.Input.RememberMe)
                            </label>
                        </div>
                    </div>
                </div>
            <button id="login-submit" type="submit" class="btn btn-primary d-block btn-user w-100">Přihlásit se</button>
            </form>
            @{
                if ((Model.ExternalLogins?.Count ?? 0) != 0)
                {
                    <hr/>
                    <form id="external-account" class="user" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                        @foreach (var provider in Model.ExternalLogins!)
                        {
                            <button type="submit" class="btn btn-primary btn-user d-block w-100 mb-2" name="provider" value="@provider.Name" title="Přihlásit se s účtem @provider.DisplayName">Přihlásit se s účtem @provider.DisplayName</button>
                        }
                    </form>
                }
            }
            <hr/>
            <div class="text-center">
                <a id="forgot-password" class="small" asp-page="./ForgotPassword">Zapomněl jsi heslo?</a>
            </div>
            <div class="text-center">
                <a class="small" asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Vytvořit nový účet</a>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
