@page
@model RegisterModel
@{
    ViewData["Title"] = "Registrace";
    Layout = "_Layout";
}

<div class="row">
    <div class="col-lg-5 d-none d-lg-flex">
        <div class="flex-grow-1 bg-register-image" style="background-image: url(/assets/img/background2.png);"></div>
    </div>
    <div class="col-lg-7">
        <div class="p-5">
            <div class="text-center">
                <h4 class="text-dark mb-4">Vytvoření nového účtu</h4>
            </div>
            <form id="registerForm" class="user" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                <div class="mb-3">
                    <input asp-for="Input.Nickname" class="form-control form-control-user" autocomplete="username" aria-required="true" placeholder="Přezdívka" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <input asp-for="Input.Email" class="form-control form-control-user" autocomplete="email" aria-required="true" placeholder="Emailová Adresa" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="row mb-3">
                    <div class="col-sm-6 mb-3 mb-sm-0">
                        <input asp-for="Input.Password" class="form-control form-control-user" autocomplete="new-password" aria-required="true" placeholder="Heslo" />
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </div>
                    <div class="col-sm-6">
                        <input asp-for="Input.ConfirmPassword" class="form-control form-control-user" autocomplete="new-password" aria-required="true" placeholder="Opakuj Heslo" />
                        <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                    </div>
                </div>
                <button id="registerSubmit" type="submit" class="btn btn-primary d-block btn-user w-100">Vytvořit účet</button>
            </form>
            @{
                if ((Model.ExternalLogins?.Count ?? 0) != 0)
                {
                    <hr/>
                    <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                        @foreach (var provider in Model.ExternalLogins!)
                        {
                            <button type="submit" class="btn btn-primary d-block btn-user w-100 mb-2" name="provider" value="@provider.Name" title="Přihlásit se pomocí @provider.DisplayName účtu">@provider.DisplayName</button>
                        }
                    </form>
                }
            }
            <hr/>
            <div class="text-center"><a class="small" asp-page="./ForgotPassword">Zapoměl jsi heslo?</a></div>
            <div class="text-center"><a class="small" asp-page="./Login">Už máš účet? Přihláš se</a></div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
