@page
@using Microsoft.Extensions.Localization
@using BrokenGrenade.Web.App.Resources.Areas.Identity.Pages.Account
@using BrokenGrenade.Web.App.Resources
@model LoginWith2faModel
@inject IStringLocalizer<LoginWith2faResource> Localizer
@inject IStringLocalizer<SharedResources> SharedLocalizer
@{
    ViewData["Title"] = Localizer[nameof(LoginWith2faResource._2faLogin)];
    Layout = "_Layout";
}

<div class="row justify-content-center">
    <div class="col-12 col-lg-10 col-xl-8 col-xxl-6">
        <p>@Localizer[nameof(LoginWith2faResource.AccountSecuredWith2fa)]</p>
        <form method="post" asp-route-returnUrl="@Model.ReturnUrl">
            <input asp-for="RememberMe" type="hidden"/>
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="mb-3">
                <label asp-for="Input.TwoFactorCode" class="form-label">@Html.DisplayNameFor(m => m.Input.TwoFactorCode)</label>
                <input asp-for="Input.TwoFactorCode" class="form-control" autocomplete="off"/>
                <span asp-validation-for="Input.TwoFactorCode" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <div class="form-check">
                    <input asp-for="Input.RememberMachine" class="form-check-input"/>
                    <label asp-for="Input.RememberMachine" class="form-check-label">
                        @Html.DisplayNameFor(m => m.Input.RememberMachine)
                    </label>
                </div>
            </div>
            <div class="mb-3">
                <button type="submit" class="btn btn-primary">@SharedLocalizer[nameof(SharedResources.LoginButton)]</button>
            </div>
        </form>
        <p>
            @Localizer[nameof(LoginWith2faResource.No2faCode1)]
            <a id="recovery-code-login" asp-page="./LoginWithRecoveryCode" asp-route-returnUrl="@Model.ReturnUrl">@Localizer[nameof(LoginWith2faResource.No2faCode2)]</a>.
        </p>
    </div>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}